.container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

table {
    table-layout: fixed;
    width: 100vw;
    height: 100vh;
    border-spacing: 0 !important;

}

table tr {
    height: 20%;
    padding: 0;
}

td {
    padding: 0;
}

.row {
    padding: 0;
    margin: 0;
}

.three {
    height: 33.33%;
}

.two {
    height: 50%;
}

.four {
    height: 25%;
}
